@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
nav {
  font-family: "Work Sans", sans-serif !important;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  padding: 0 !important;
}

iframe {
  border: 1px solid #eee;
  border-radius: 5px;
}

.homepage-container {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.with-label {
  width: 100% !important;
}
.with-label > .input-container.inp-full-width {
  width: 100% !important;
}

.sub-heading {
  margin-top: 0;
  color: #555 !important;
}

.preview-dimensions-input-container {
  margin-bottom: 10px;
}
.step-1 {
  display: flex;
  align-items: flex-start;
}

.step-2 {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
}

.step-3 {
  display: flex;
  margin-top: 30px;
  align-items: flex-start;
}


.circle {
  width: 100px;
  line-height: 100px;
  border-radius: 50%;
  text-align: center;
  font-size: 32px;
  border: 3px solid #000;
  float: left;
  margin-right: 20px;

  background-image: linear-gradient(green, green);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% 0%;
  transition: background-size .5s, color .5s;
}

.sign-in-discord-button {
  background-color: white;
  padding: 10px 29px;
  border-radius: 0;
  color: black;
  border: 2px solid black;
  font-weight: bold;
}

.server-rules-button-1 {
  color: white;
  /*background-color: #04AA6D;*/
  padding: 10px 29px;
  border-radius: 0;
  /*border: 0.32rem solid #06c780;*/
  transition-duration: 0.4s;
  /*background: linear-gradient(to top left, #05b876 0%, #05a56a 70%);*/
}

.server-rules-button-1:hover {
  color: rgb(73, 71, 71);
  background-color: #04AA6D;
  background: transparent;
}

.server-rules-button-2 {
  color: white;
  /*background-color: #ED4245;*/
  padding: 10px 29px;
  border-radius: 0;
  /*border: 0.32rem solid #ee5759;*/
  transition-duration: 0.4s;
  /*background: linear-gradient(to top left, #ec4e51 0%, #dd3336 70%);*/
  margin-left: 20px;
}

.server-rules-button-2:hover {
  color: rgb(73, 71, 71);
  background: transparent;
}