@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk", sans-serif, monospace !important;
}
nav {
  font-family: "Work Sans", sans-serif !important;
}
a {
  text-decoration: none;
}

a:not([href]):not([tabindex]) {
  color: white;
}

* {
  box-sizing: border-box;
}

main {
  padding: 0 !important;
}

iframe {
  border: 1px solid #eee;
  border-radius: 5px;
}

.homepage-container {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.with-label {
  width: 100% !important;
}
.with-label > .input-container.inp-full-width {
  width: 100% !important;
}

.sub-heading {
  margin-top: 0;
  color: #555 !important;
}

.preview-dimensions-input-container {
  margin-bottom: 10px;
}

.td-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title-1 {
  font-family: "Space Grotesk", sans-serif, monospace !important;
  font-weight: 400;
  font-size: 2em;
  text-align: center;
}
.title-2 {
  font-family: "Space Grotesk", sans-serif, monospace !important;
  font-size: 2em;
  margin-bottom: 55px;
  text-align: center;
}

.step-1 {
  display: flex;
}

.step-2 {
  display: flex;
  margin-top: 30px;
}

.step-3 {
  display: flex;
  margin-top: 30px;
}

.status {
  line-height: 1;
  margin-top: -0.6em;
  padding-top: 50%;
  text-align: right;
  width: 52px;
  height: 34px;
  font-size: 35px;
  font-family: VT323;
}

.sign-in-btn {
  color: white;
  display: inline-block;
  padding: .375rem .75rem;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 0;
  line-height: 2rem;
  font-weight: bold;
  border: 0.32rem solid #80FFD5;
  background: linear-gradient(to top left, rgba(0,195,195,0.486275) 0%, rgba(0,226,226,0.823529) 70%);
  font-family: "Space Grotesk", sans-serif, monospace !important;
}

.agree-btn {
  color: white;
  display: inline-block;
  padding: .375rem .75rem;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 0;
  line-height: 2rem;
  font-weight: bold;
  border: 0.32rem solid #80FFD5;
  background: linear-gradient(to top left, rgba(0,195,195,0.486275) 0%, rgba(0,226,226,0.823529) 70%);
  font-family: "Space Grotesk", sans-serif, monospace !important;
}:hover {
  background: transparent;
}

.nope-btn {
  color: white;
  display: inline-block;
  padding: .375rem .75rem;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 0;
  line-height: 2rem;
  font-weight: bold;
  border: 0.32rem solid #ffc3e7;
  background: linear-gradient(to top left, rgba(195,92,195,1) 0%, rgb(229,107,200,1) 70%);
  font-family: "Space Grotesk", sans-serif, monospace !important;
  margin-left: 10px;
}:hover {
  background: transparent;
}

.come-in-btn {
  color: white;
  display: inline-block;
  padding: .375rem .75rem;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 0;
  line-height: 2rem;
  font-weight: bold;
  border: 0.32rem solid #80FFD5;
  background: linear-gradient(to top left, rgba(0,195,195,0.486275) 0%, rgba(0,226,226,0.823529) 70%);
  font-family: "Space Grotesk", sans-serif, monospace !important;
}:hover {
  background: transparent;
}

.fade-in-text {
  padding-bottom: 15px;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* safari/chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}